<h2 mat-dialog-title>
    Comments
    <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content class="mat-typography">

    <div class="card" *ngFor="let comment of event.comments">
        <div class="card-footer">
            <div class="stats">
                <p class="card-category">
                    <!-- <span style="cursor: pointer;" class="text-danger">
                        {{comment.by_user_name}}
                    </span> -->
                    <button mat-line mat-button mat-dialog-close class="text-danger"
                        (click)="synergeService.onUserInfo(comment.by_user_id)">{{comment.by_user_name}}</button>
                </p>
            </div>
            <div class="stats">
                <p class="card-category">{{comment.date | date: 'MMM d, y - h:mm a'}}</p>
            </div>
        </div>
        <p style="padding-left: 15px;">{{comment.comment}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <form (ngSubmit)="onSend()">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <mat-form-field>
                    <input matInput [(ngModel)]="newComment" name="newComment" placeholder="Enter Comment">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <button mat-raised-button type="submit" [disabled]="newComment.length === 0" (click)="onSend()"
                    class="btn btn-danger pull-right">Send</button>
            </div>
        </div>
    </form>
</mat-dialog-actions>