<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab label="Upcoming">
        <div class="row justify-content-center" *ngFor="let event of upcomingEvents">
          <div class="col-md-8">
            <div class="card card-product">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5" *ngIf="event.pics[0]">
                    <a [href]="synergeService.basePath + event.pics[0]" target="_blank">
                      <div class="card-header card-header-image">
                        <img alt="img" [src]="synergeService.basePath + event.pics[0]" />
                      </div>
                    </a>
                  </div>
                  <div [ngClass]="{'col-md-7': event.pics[0], 'col-md-12': !event.pics[0]}">
                    <button mat-button [matMenuTriggerFor]="upcomingEventMenu" class="pull-right" *ngIf="isAdmin">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #upcomingEventMenu="matMenu">
                      <button mat-menu-item (click)="editEvent(event)">Edit Event</button>
                      <button mat-menu-item (click)="deleteEvent(event)">Delete Event</button>
                    </mat-menu>
                    <h6 class="card-title">{{event.date | date: 'MMM d, y'}}</h6>
                    <h4 class="card-title">{{event.title}}</h4>
                    <p class="card-description">{{event.description}}</p>
                    <p><a [href]="event.links[0]" target="_blank">{{event.links[0]}}</a></p>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <p class="card-category">
                    <i style="cursor: pointer;" (click)="onLike(event)"
                      [ngClass]="{'material-icons': true, 'text-danger': getDidILike(event)}">thumb_up</i>
                    <span style="cursor: pointer;" (click)="onLikeList(event)"> {{event.likes.length}}
                      Likes</span>
                  </p>
                </div>
                <div class="stats" style="cursor: pointer;" (click)="onComment(event)">
                  <p class="card-category"><i class="material-icons">message</i> {{event.comments.length}} Comments
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Completed">
        <div class="row justify-content-center" *ngFor="let event of completedEvents">
          <div class="col-md-8">
            <div class="card card-product">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5" *ngIf="event.pics[0]">
                    <a [href]="synergeService.basePath + event.pics[0]" target="_blank">
                      <div class="card-header card-header-image">
                        <img alt="img" [src]="synergeService.basePath + event.pics[0]" />
                      </div>
                    </a>
                  </div>
                  <div [ngClass]="{'col-md-7': event.pics[0], 'col-md-12': !event.pics[0]}">
                    <button mat-button [matMenuTriggerFor]="completedEventMenu" class="pull-right" *ngIf="isAdmin">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #completedEventMenu="matMenu">
                      <button mat-menu-item (click)="editEvent(event)">Edit Event</button>
                      <button mat-menu-item (click)="deleteEvent(event)">Delete Event</button>
                    </mat-menu>
                    <h6 class="card-title">{{event.date | date: 'MMM d, y'}}</h6>
                    <h4 class="card-title">{{event.title}}</h4>
                    <p class="card-description">{{event.description}}</p>
                    <p><a [href]="event.links[0]" target="_blank">{{event.links[0]}}</a></p>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <p class="card-category">
                    <i style="cursor: pointer;" (click)="onLike(event)"
                      [ngClass]="{'material-icons': true, 'text-danger': getDidILike(event)}">thumb_up</i>
                    <span style="cursor: pointer;" (click)="onLikeList(event)"> {{event.likes.length}}
                      Likes</span>
                  </p>
                </div>
                <div class="stats" style="cursor: pointer;" (click)="onComment(event)">
                  <p class="card-category"><i class="material-icons">message</i> {{event.comments.length}} Comments
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="fab-container" *ngIf="isAdmin">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>