<h2 mat-dialog-title>
  {{dialogHeader}}
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content *ngIf="eventForm">
  <form [formGroup]="eventForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Event type</mat-label>
          <mat-select formControlName="type" required>
            <mat-option value="Upcoming">Upcoming</mat-option>
            <mat-option value="Completed">Completed</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('type', 'required')">Type is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Belongs to</mat-label>
          <mat-select formControlName="belongs_to" required>
            <mat-option value="SYNERGE_I">Synerge I</mat-option>
            <mat-option value="SYNERGE_II">Synerge II</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('belongs_to', 'required')">Belongs to is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Title" formControlName="title" id="title" required>
      <mat-error *ngIf="hasError('title', 'required')">Title is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Description" formControlName="description" id="description">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="date" [matDatepicker]="eventDatePicker" placeholder="Event Date"
        (click)="eventDatePicker.open()" readonly required>
      <mat-datepicker-toggle matSuffix [for]="eventDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #eventDatePicker></mat-datepicker>
      <mat-error *ngIf="hasError('date', 'required')">Date is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Event Links" formControlName="links" id="links">
    </mat-form-field>

    <div class="row">
      <img alt="img" class="img" [src]="imgURL" *ngIf="imgURL" />
    </div>

    <div class="row">
      <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
      <button class="btn btn-danger btn-round" (click)="fileInput.click()">Upload Image</button>
    </div>

    <div class="alert alert-danger" *ngIf="message">
      <button mat-button type="button" class="close" (click)="message=''">
        <i class="material-icons">close</i>
      </button>
      <span>{{message}}</span>
    </div>

    <!-- <button mat-raised-button mat-dialog-close type="button" class="btn btn-outline-danger pull-left">Cancel</button> -->
    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Save'"
      (click)="onSave()">{{buttonText}}</button>
  </form>
</mat-dialog-content>