<h2 mat-dialog-title>
    Are you sure?
    <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
    <h5>{{confirmationMessage}}</h5>
    <button mat-raised-button [mat-dialog-close]="true" type="button" class="btn btn-danger pull-right">Yes</button>
    <button mat-raised-button [mat-dialog-close]="undefined" type="button"
        class="btn btn-outline-danger pull-right">No</button>
</mat-dialog-content>