<h2 mat-dialog-title>
    Select Office
    <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Belongs to</mat-label>
            <mat-select [(ngModel)]="belongsTo" name="belongsTo" (selectionChange)="onBelongsToChange($event.value)">
                <mat-option value="SYNERGE_I">Synerge I</mat-option>
                <mat-option value="SYNERGE_II">Synerge II</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Company Name</mat-label>
            <mat-select [(ngModel)]="companyName" name="companyName">
                <mat-option *ngFor="let company of companyNames" [value]="company.company_name">
                    {{company.company_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="alert alert-danger" *ngIf="message">
            <button mat-button type="button" class="close" (click)="message=''">
                <i class="material-icons">close</i>
            </button>
            <span>{{message}}</span>
        </div>
        
        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
    </form>
</mat-dialog-content>