<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Synerge Users</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class=" text-danger">
                  <th>
                    Name
                  </th>
                  <th>
                    User Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Phone
                  </th>
                  <th>
                    Role
                  </th>
                  <th>
                    Belongs To
                  </th>
                  <th>
                    Company
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody *ngFor="let user of users; let i = index">
                  <tr>
                    <td>
                      {{user.first_name}} {{user.last_name}}
                    </td>
                    <td class="text-info" style="cursor: pointer;" (click)="onUserClick(user)">
                      {{user.user_name}}
                    </td>
                    <td>
                      {{user.email}}
                    </td>
                    <td>
                      {{user.phone}}
                    </td>
                    <td>
                      {{user.role}}
                    </td>
                    <td>
                      {{user.belongs_to}}
                    </td>
                    <td>
                      {{user.company_name}}
                    </td>
                    <td>
                      <span *ngIf="roleAdmin !== user.role">
                        <b *ngIf="user.activated" class="text-success">Active</b>
                        <b *ngIf="!user.activated" class="text-danger">Inactive</b>
                      </span>
                    </td>
                    <td>
                      <div class="btn-group-vertical">
                        <button mat-raised-button type="button" (click)="onActivate(user, i)"
                          *ngIf="roleAdmin !== user.role"
                          [ngClass]="{'btn btn-sm': true, 'btn-danger': user.activated, 'btn-success': !user.activated}"
                          [disabled]="activateButtonText[i] === 'Loading...'">{{activateButtonText[i]}}</button>

                        <button mat-raised-button type="button" (click)="onUserClick(user)"
                          *ngIf="roleAdmin !== user.role" class="btn btn-sm btn-info">Edit</button>

                        <button mat-raised-button type="button" (click)="onDelete(user, i)"
                          *ngIf="roleAdmin !== user.role" class="btn btn-sm"
                          [disabled]="deleteButtonText[i] === 'Loading...'">{{deleteButtonText[i]}}</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>