@import "~bootstrap/scss/bootstrap";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


/* Angular material theme start */

@import '~@angular/material/theming';

/* ----------- danger color red changed b80203 - b80203, dark d22824 - b80203, ff5252 - b80203 -------------------*/
/* ----------- dark background color changed 1a2035 - 000000, 1f283e - 000000, 202940 - 424242, 8b92a9 - ffffff -------------------*/

// light theme
@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-red, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

// dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-red, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// dark edition
.material-dark-edition {
  @include angular-material-theme($dark-theme);
}

.dark-edition {
  @include angular-material-theme($dark-theme);
  // in mobile background color height is not full
  .main-panel .main-content {
    background-color: #000000; // 1a2035
  }

  // autocomplete remove color
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px black inset !important;
  }
}

.cdk-overlay-container {
  z-index: 100000 !important;
}

/* Angular material theme end */

@import "core/variables";
@import "core/mixins";
@import "~bootstrap/scss/bootstrap";

// Core Components
@import "core/buttons";
@import "core/checkboxes";
@import "core/radios";
@import "core/forms";
@import "core/input-group";
@import "core/images";
@import "core/navbar";
@import "core/alerts";
@import "core/type";
@import "core/tabs";
@import "core/tooltip";
@import "core/popover";
@import "core/dropdown";
@import "core/togglebutton";
@import "core/ripples";
@import "core/footers";
@import "core/sidebar-and-main-panel";
@import "core/fixed-plugin";
@import "core/tables";
@import "core/misc";

// dark edition
@import "core/dark-edition";

@import "core/cards";
@import "core/cards/card-stats";
@import "core/cards/card-profile";
@import "core/cards/card-plain";

//plugin scss
@import "core/plugins/animate";
@import "core/plugins/chartist";
@import "core/plugins/perfect-scrollbar";

@import "core/responsive";

@import "core/angular-modal.scss";