<h2 mat-dialog-title>
  Change password
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Current Password" formControlName="currentPassword"
        id="currentPassword" required>
      <mat-error *ngIf="hasError('currentPassword', 'required')">Current Password is required</mat-error>
      <mat-error *ngIf="hasError('currentPassword', 'invalidPassword')">Invaid Password.</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="New Password" formControlName="newPassword" id="newPassword"
        required>
      <mat-error *ngIf="hasError('newPassword', 'required')">New Password is required.</mat-error>
      <mat-error *ngIf="hasError('newPassword', 'minlength')">Password must contain 6 letters.</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
        id="confirmPassword" required>
      <mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm Password is required.</mat-error>
      <mat-error *ngIf="hasError('confirmPassword', 'passwordMismatch')">Passwords did not match.</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Confirm'">
      {{buttonText}}
    </button>
  </form>
</mat-dialog-content>