<h2 mat-dialog-title>
  {{dialogHeader}}
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content *ngIf="clientForm">
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Company Name" formControlName="company_name" id="company_name" required>
      <mat-error *ngIf="hasError('company_name', 'required')">Company Name is required</mat-error>
    </mat-form-field>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Belongs to</mat-label>
          <mat-select formControlName="belongs_to" required>
            <mat-option value="SYNERGE_I">Synerge I</mat-option>
            <mat-option value="SYNERGE_II">Synerge II</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('belongs_to', 'required')">Belongs to is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="active_status" required>
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('active_status', 'required')">Status is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <input matInput formControlName="joined_date" [matDatepicker]="joinedDatePicker" placeholder="Date of Joining"
        (click)="joinedDatePicker.open()" readonly required>
      <mat-datepicker-toggle matSuffix [for]="joinedDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #joinedDatePicker></mat-datepicker>
      <mat-error *ngIf="hasError('joined_date', 'required')">Joined Date is required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="clientForm.value.active_status === 'Inactive'">
      <input matInput formControlName="leaving_date" [matDatepicker]="leavingDatePicker" placeholder="Date of leaving"
        (click)="leavingDatePicker.open()" readonly>
      <mat-datepicker-toggle matSuffix [for]="leavingDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #leavingDatePicker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Confirm'">
      {{buttonText}}
    </button>
  </form>
</mat-dialog-content>