<h2 mat-dialog-title>
    Select Booking for
    <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Booking Belongs to</mat-label>
        <mat-select [(ngModel)]="belongs_to" name="belongs_to" (selectionChange)="onBelongsToChange($event.value)"
            required>
            <mat-option value="SYNERGE_I">Synerge I</mat-option>
            <mat-option value="SYNERGE_II">Synerge II</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Booking Company Name</mat-label>
        <mat-select [(ngModel)]="company_name" name="company_name" required>
            <mat-option *ngFor="let company of companyNames" [value]="company.company_name">
                {{company.company_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<div class="alert alert-danger" *ngIf="message">
    <button mat-button type="button" class="close" (click)="message=''">
        <i class="material-icons">close</i>
    </button>
    <span>{{message}}</span>
</div>

<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSelect()">Select</button>