<h2 mat-dialog-title>
    Booking Details
    <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-6">
            <p>Booked For</p>
        </div>
        <div class="col-md-6">
            <p>: {{booking.booking_type}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Booked Date</p>
        </div>
        <div class="col-md-6">
            <p>: {{booking.booking_date | date: 'MMM d, y'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Booked Time</p>
        </div>
        <div class="col-md-6">
            <p>: {{booking.booking_time}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Booked Note</p>
        </div>
        <div class="col-md-6">
            <p>: {{booking.booking_note}}</p>
        </div>
    </div>

    <mat-divider></mat-divider><br>

    <div class="row">
        <div class="col-md-6">
            <p>Booked By</p>
        </div>
        <div class="col-md-6">
            <!-- <p class="text-danger" style="cursor: pointer;">: {{booking.by_user_name}}</p> -->
            <button mat-line mat-button mat-dialog-close class="text-danger"
                (click)="synergeService.onUserInfo(booking.by_user_id)">: {{booking.by_user_name}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Booked On</p>
        </div>
        <div class="col-md-6">
            <p>: {{booking.booking_created_date | date: 'MMM d, y - h:mm a'}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Booked Status</p>
        </div>
        <div class="col-md-6">
            <p>: {{booking.status}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Booked User Email</p>
        </div>
        <div class="col-md-6" *ngIf="user">
            <p>: {{user.email}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Booked User phone</p>
        </div>
        <div class="col-md-6" *ngIf="user">
            <p>: {{user.phone}}</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-form-field>
                <mat-label>Current Status</mat-label>
                <mat-select [(ngModel)]="status" name="status">
                    <mat-option value="Request Pending" disabled>Request Pending</mat-option>
                    <mat-option value="Confirmed">Confirmed</mat-option>
                    <mat-option value="Declined">Declined</mat-option>
                    <!-- <mat-option value="Completed">Completed</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
</mat-dialog-content>

<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onUpdate()"
    [disabled]="saveButtonText != 'Save'">{{saveButtonText}}</button>

<button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="onDelete()"
    [disabled]="deleteButtonText != 'Delete'">{{deleteButtonText}}</button>