<h2 mat-dialog-title>
  Add News Feed
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>

  <div class="col-md-12" *ngIf="isAdmin">
    <mat-form-field>
      <mat-label>Add type</mat-label>
      <mat-select [(ngModel)]="type" required>
        <mat-option value="NewsFeed">News Feed</mat-option>
        <mat-option value="Announcement">Announcement</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-md-4">
      <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
      <button class="btn btn-danger btn-round" (click)="fileInput.click()">Upload Image</button>
    </div>
    <div class="col-md-4">
      <img alt="img" [src]="imgURL" *ngIf="imgURL" />
    </div>
  </div>

  <div class="col-md-12" *ngIf="type === 'NewsFeed'">
    <div class="form-group label-floating">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Content" [(ngModel)]="content" required></textarea>
      </mat-form-field>
    </div>
  </div>


  <div class="alert alert-danger" *ngIf="message">
    <button mat-button type="button" class="close" (click)="message=''">
      <i class="material-icons">close</i>
    </button>
    <span>{{message}}</span>
  </div>

  <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="buttonText != 'Save'"
    (click)="onSave()">{{buttonText}}</button>
</mat-dialog-content>