<div class="main-content">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card card-register card-hidden">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Reset Password</h4>
          </div>

          <div class="card-body" *ngIf="token">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword"
                      id="newPassword" required>
                    <mat-error *ngIf="hasError('newPassword', 'required')">New Password is required.</mat-error>
                    <mat-error *ngIf="hasError('newPassword', 'minlength')">Password must contain 6 letters.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                      id="confirmPassword" required>
                    <mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm Password is required.
                    </mat-error>
                    <mat-error *ngIf="hasError('confirmPassword', 'passwordMismatch')">Passwords did not match.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <button type="button" class="btn btn-outline-danger pull-left" routerLink="../">Cancel</button>
              <button mat-raised-button type="submit" [disabled]="buttonText != 'Submit'"
                class="btn btn-danger pull-right">{{buttonText}}</button>
            </form>
          </div>

          <br />
          <div class="alert alert-danger" *ngIf="message">
            <button mat-button type="button" class="close" (click)="message=''">
              <i class="material-icons">close</i>
            </button>
            <span>{{message}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>