<h2 mat-dialog-title>
  {{dialogHeader}}
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content *ngIf="achieverForm">
  <form [formGroup]="achieverForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Belongs to</mat-label>
          <mat-select formControlName="belongs_to" (selectionChange)="onBelongsToChange($event.value)" required>
            <mat-option value="SYNERGE_I">Synerge I</mat-option>
            <mat-option value="SYNERGE_II">Synerge II</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('belongs_to', 'required')">Belongs to is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Company Name</mat-label>
          <mat-select formControlName="company_name" id="company_name" required>
            <mat-option *ngFor="let company of companyNames" [value]="company.company_name">
              {{company.company_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('company_name', 'required')">Company is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Achiever" formControlName="achiever" id="achiever" required>
          <mat-error *ngIf="hasError('achiever', 'required')">Achiever is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Achieved" formControlName="achieved" id="achieved" required>
          <mat-error *ngIf="hasError('achieved', 'required')">Achieved is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <input matInput formControlName="date" [matDatepicker]="achieverDatePicker" placeholder="Date"
        (click)="achieverDatePicker.open()" readonly required>
      <mat-datepicker-toggle matSuffix [for]="achieverDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #achieverDatePicker></mat-datepicker>
      <mat-error *ngIf="hasError('date', 'required')">Date is required</mat-error>
    </mat-form-field>

    <div class="row">
      <img alt="img" class="img" [src]="imgURL" *ngIf="imgURL" />
    </div>

    <div class="row">
      <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
      <button class="btn btn-danger btn-round" (click)="fileInput.click()">Upload Photo</button>
    </div>

    <div class="alert alert-danger" *ngIf="message">
      <button mat-button type="button" class="close" (click)="message=''">
        <i class="material-icons">close</i>
      </button>
      <span>{{message}}</span>
    </div>

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Save'"
      (click)="onSave()">{{buttonText}}</button>
  </form>
</mat-dialog-content>