<h2 mat-dialog-title>
  Edit Feedback
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content *ngIf="feedback">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field>
            <input matInput type="text" placeholder="Feedback" [(ngModel)]="feedback.feedback" name="feedback" required>
          </mat-form-field>
        </div>
      </div>
    </div>

    <br>
    <mat-form-field>
      <mat-label>Feedback Status</mat-label>
      <mat-select [(ngModel)]="feedback.status" name="status" required>
        <mat-option value="Not Seen">Not Seen</mat-option>
        <mat-option value="On Progress">On Progress</mat-option>
        <mat-option value="Completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="alert alert-danger" *ngIf="message">
      <button mat-button type="button" class="close" (click)="message=''">
        <i class="material-icons">close</i>
      </button>
      <span>{{message}}</span>
    </div>

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Submit'">
      {{buttonText}}
    </button>
  </form>
</mat-dialog-content>