<h2 mat-dialog-title>
  Add Client Visitor
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
  <form [formGroup]="clientVisitorsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Visitor Name" formControlName="visitor_name" id="visitor_name"
            required>
          <mat-error *ngIf="hasError('visitor_name', 'required')">Visitor Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Visitor Phone" formControlName="visitor_phone" id="visitor_phone"
            required>
          <mat-error *ngIf="hasError('visitor_phone', 'required')">Visitor Phone is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Belongs to</mat-label>
          <mat-select formControlName="company_belongs_to" (selectionChange)="onBelongsToChange($event.value)" required>
            <mat-option value="SYNERGE_I">Synerge I</mat-option>
            <mat-option value="SYNERGE_II">Synerge II</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('company_belongs_to', 'required')">Belongs to is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Visiting Company Name</mat-label>
          <mat-select formControlName="visiting_company" id="visiting_company"
            (selectionChange)="onCompanyChange($event.value)" required>
            <mat-option *ngFor="let company of companyNames" [value]="company.company_name">
              {{company.company_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('visiting_company', 'required')">Visiting Company is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Whom to Contact With</mat-label>
      <mat-select formControlName="whom_to_contact_id" id="whom_to_contact_id" required>
        <mat-option *ngFor="let user of companyUsers" [value]="user._id">
          {{user.first_name}} {{user.last_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('whom_to_contact_id', 'required')">Whom to Contact is required</mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Whom to Contact With" formControlName="whom_to_contact"
        id="whom_to_contact" required>
      <mat-error *ngIf="hasError('whom_to_contact', 'required')">Whom to Contact is required</mat-error>
    </mat-form-field> -->

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Purpose of Visit" formControlName="purpose_of_visit"
        id="purpose_of_visit" required>
      <mat-error *ngIf="hasError('purpose_of_visit', 'required')">Purpose of Visit is required</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Confirm'">
      {{buttonText}}
    </button>
  </form>
</mat-dialog-content>