<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab label="SYNERGE I">
        <div class="row justify-content-center" *ngFor="let achiever of synergeIAchiever">
          <div class="col-md-8">
            <div class="card card-product">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" *ngIf="achiever.pic">
                    <a [href]="synergeService.basePath + achiever.pic" target="_blank">
                      <div class="card-header card-header-image">
                        <img alt="img" [src]="synergeService.basePath + achiever.pic" />
                      </div>
                    </a>
                  </div>
                  <div [ngClass]="{'col-md-8': achiever.pic, 'col-md-12': !achiever.pic}">
                    <button mat-button [matMenuTriggerFor]="synergeIMenu" class="pull-right" *ngIf="isAdmin">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #synergeIMenu="matMenu">
                      <button mat-menu-item (click)="editAchiever(achiever)">Edit Achiever</button>
                      <button mat-menu-item (click)="deleteAchiever(achiever)">Delete Achiever</button>
                    </mat-menu>
                    <h4 class="card-title"><b>{{achiever.date | date: 'yyyy'}}, </b>{{achiever.date | date: 'MMM d'}}
                    </h4>
                    <h5 class="card-title"><b>Name:</b> {{achiever.achiever}}</h5>
                    <h5 class="card-title"><b>Achieved:</b> {{achiever.achieved}}</h5>
                    <p class="card-description"><b>Company Name: </b>{{achiever.company_name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="SYNERGE II">
        <div class="row justify-content-center" *ngFor="let achiever of synergeIIAchiever">
          <div class="col-md-8">
            <div class="card card-product">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" *ngIf="achiever.pic">
                    <a [href]="synergeService.basePath + achiever.pic" target="_blank">
                      <div class="card-header card-header-image">
                        <img alt="img" [src]="synergeService.basePath + achiever.pic" />
                      </div>
                    </a>
                  </div>
                  <div [ngClass]="{'col-md-8': achiever.pic, 'col-md-12': !achiever.pic}">
                    <button mat-button [matMenuTriggerFor]="synergeIMenu" class="pull-right" *ngIf="isAdmin">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #synergeIMenu="matMenu">
                      <button mat-menu-item (click)="editAchiever(achiever)">Edit Achiever</button>
                      <button mat-menu-item (click)="deleteAchiever(achiever)">Delete Achiever</button>
                    </mat-menu>
                    <h4 class="card-title"><b>{{achiever.date | date: 'yyyy'}}, </b>{{achiever.date | date: 'MMM d'}}
                    </h4>
                    <h5 class="card-title"><b>Name:</b> {{achiever.achiever}}</h5>
                    <h5 class="card-title"><b>Achieved:</b> {{achiever.achieved}}</h5>
                    <p class="card-description"><b>Company Name: </b>{{achiever.company_name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="fab-container" *ngIf="isAdmin">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>