<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Synerge Clients</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class=" text-danger">
                  <th>
                    Company Name
                  </th>
                  <th>
                    Belongs To
                  </th>
                  <th>
                    Date of Joining
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Date of Leaving
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody *ngFor="let client of clients; let i = index">
                  <tr [ngClass]="{'text-danger': client.active_status === 'Inactive'}">
                    <td>
                      {{client.company_name}}
                    </td>
                    <td>
                      {{client.belongs_to}}
                    </td>
                    <td>
                      {{client.joined_date | date: 'MMM d, y'}}
                    </td>
                    <td>
                      {{client.active_status}}
                    </td>
                    <td>
                      {{client.leaving_date | date: 'MMM d, y'}}
                    </td>
                    <td>
                      <button mat-raised-button type="button" (click)="onEdit(client)"
                        class="btn btn-sm btn-info">Edit</button>

                      <button mat-raised-button type="button" (click)="onDelete(client, i)" class="btn btn-sm"
                        [disabled]="deleteButtonText[i] === 'Loading...'">{{deleteButtonText[i]}}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fab-container">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>