<h2 mat-dialog-title>
    Likes
    <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content class="mat-typography">
    <mat-list>
        <p *ngIf="likes.length === 0">No Likes.</p>
        <mat-list-item *ngFor="let like of likes">
            <mat-icon mat-list-icon>thumb_up</mat-icon>
            <button mat-line mat-button mat-dialog-close class="text-danger"
                (click)="synergeService.onUserInfo(like.by_user_id)">{{like.by_user_name}}</button>
            <p mat-line> {{like.date | date: 'MMM d, y - h:mm a'}} </p>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>