<div class="main-content">
  <div class="container-fluid">

    <!-- <div class="row">
      <div class="col-md-4">
        <div class="card card-product" data-count="11">
          <div class="card-header card-header-image" data-header-animation="true"><a href="#pablo"><img alt="img"
                src="./assets/img/faces/marc.jpg"></a></div>
          <div class="card-body">
            <div class="card-actions text-center">
              <button class="btn btn-danger btn-link fix-broken-card mat-raised-button" mat-raised-button=""
                type="button">
                <span class="mat-button-wrapper"><i class="material-icons">build</i> Fix Header! </span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </button>
              <button class="btn btn-default btn-link mat-raised-button" mat-raised-button="" mattooltip="View"
                type="button" aria-describedby="cdk-describedby-message-31" cdk-describedby-host=""
                style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="mat-button-wrapper"><i class="material-icons">art_track</i></span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </button>
              <button class="btn btn-success btn-link mat-raised-button" mat-raised-button="" mattooltip="Edit"
                type="button" aria-describedby="cdk-describedby-message-32" cdk-describedby-host=""
                style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </button>
              <button class="btn btn-danger btn-link mat-raised-button" mat-raised-button="" mattooltip="Remove"
                type="button" aria-describedby="cdk-describedby-message-33" cdk-describedby-host=""
                style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
              </button>
            </div>
            <h4 class="card-title"><a href="#pablo">Cozy 5 Stars Apartment</a></h4>
            <div class="card-description"> The place is close to Barceloneta Beach and bus stop just 2 min by walk and
              near to "Naviglio" where you can enjoy the main night life in Barcelona. </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>$899/night</h4>
            </div>
            <div class="stats">
              <p class="card-category"><i class="material-icons">place</i> Barcelona, Spain</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row justify-content-center" *ngFor="let newsFeed of newsFeeds">
      <div class="col-md-6">
        <div class="card card-product">
          <a [href]="synergeService.basePath + newsFeed.image_path" target="_blank" *ngIf="newsFeed.image_path">
            <div class="card-header card-header-image">
              <img alt="img" [src]="synergeService.basePath + newsFeed.image_path" />
            </div>
          </a>
          <div class="card-body">
            <h6 class="card-category text-gray">{{newsFeed.date | date: 'MMM d, y - h:mm a'}}
              <!-- <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">more_vert</i></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu> -->
            </h6>
            <h4 class="card-title">
              <a href="javascript:void(0)" (click)="synergeService.onUserInfo(newsFeed.by_user_id)">{{newsFeed.by_user_name}}</a>
            </h4>
            <!-- <p class="card-description">{{newsFeed.content}}</p> -->
            <p>{{newsFeed.content}}</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <p class="card-category">
                <i style="cursor: pointer;" (click)="onLike(newsFeed)"
                  [ngClass]="{'material-icons': true, 'text-danger': getDidILike(newsFeed)}">thumb_up</i>
                <span style="cursor: pointer;" (click)="onLikeList(newsFeed)"> {{newsFeed.likes.length}} Likes</span>
              </p>
            </div>
            <div class="stats" style="cursor: pointer;" (click)="onComment(newsFeed)">
              <p class="card-category"><i class="material-icons">message</i> {{newsFeed.comments.length}} Comments</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="fab-container">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>