<h2 mat-dialog-title>
  Add Feedback
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field>
            <input matInput type="text" placeholder="Feedback" [(ngModel)]="feedback" name="feedback" required>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="alert alert-danger" *ngIf="message">
      <button mat-button type="button" class="close" (click)="message=''">
        <i class="material-icons">close</i>
      </button>
      <span>{{message}}</span>
    </div>
    
    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Submit'">
      {{buttonText}}
    </button>
  </form>
</mat-dialog-content>