<h2 mat-dialog-title>
    Alert
    <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
    <h5>{{alertMessage}}</h5>
    <button mat-raised-button [mat-dialog-close]="true" type="button" class="btn btn-danger pull-right">Okay</button>
</mat-dialog-content>