<h1 mat-dialog-title>Forgot password ?</h1>
<div mat-dialog-content>
  <p>Enter your email address</p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email">
  </mat-form-field>
</div>
<div class="alert alert-danger" *ngIf="message">
  <button mat-button type="button" class="close" (click)="message=''">
    <i class="material-icons">close</i>
  </button>
  <span>{{message}}</span>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-raised-button class="btn pull-left" (click)="onClose()">Cancel</button>
  <button mat-raised-button (click)="onSubmit()" [disabled]="buttonText != 'Submit'"
    class="btn btn-danger pull-right">{{buttonText}}</button>
</div>