<div class="main-content">
  <img src="/assets/img/logo.png" class="logo-image" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="#" action="#">
          <div class="card card-login card-hidden">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Login - Synerge Community</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput type="text" placeholder="User Name" [(ngModel)]="body.user_name" name="user_name"
                        required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input matInput type="password" placeholder="Password" [(ngModel)]="body.password" name="password"
                        required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4" style="text-align: right;">
                  <!-- <button mat-button>Basic</button> -->
                  <a style="cursor: pointer;" (click)="onForgotPassword()">
                    Forgot Password ?
                  </a>
                </div>
              </div>
              <button mat-raised-button type="button" [routerLink]="['/register']"
                class="btn btn-danger pull-left">Register</button>
              <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="buttonText != 'Let`s go'"
                class="btn btn-danger pull-right">{{buttonText}}</button>
            </div>

            <div class="alert alert-danger" *ngIf="message">
              <button mat-button type="button" class="close" (click)="message=''">
                <i class="material-icons">close</i>
              </button>
              <span>{{message}}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>