.main-content {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #b40404));
    background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #b40404 100%);
    background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #b40404 100%);
    background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #b40404 100%);
}

.logo-image {
    height: 60px;
    position: absolute;
    top: 0px;
}