<div class="main-content">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card card-register card-hidden">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Register - Synerge Community</h4>
          </div>

          <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="First Name" formControlName="first_name" id="first_name" required>
                    <mat-error *ngIf="hasError('first_name', 'required')">First Name is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Last Name" formControlName="last_name" id="last_name"
                      required>
                    <mat-error *ngIf="hasError('last_name', 'required')">Last Name is required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Email" formControlName="email" id="email" required>
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Please enter valid email.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Phone Number" formControlName="phone" id="phone" required>
                    <mat-error *ngIf="hasError('phone', 'required')">Phone Number is required</mat-error>
                    <mat-error *ngIf="hasError('phone', 'phoneMinLength')">Please enter valid number.</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="User Name" formControlName="user_name" id="user_name"
                      required>
                    <mat-hint>Unique User Name to login.</mat-hint>
                    <mat-error *ngIf="hasError('user_name', 'required')">User Name is required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword"
                      id="newPassword" required>
                    <mat-error *ngIf="hasError('newPassword', 'required')">New Password is required.</mat-error>
                    <mat-error *ngIf="hasError('newPassword', 'minlength')">Password must contain 6 letters.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                      id="confirmPassword" required>
                    <mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm Password is required.
                    </mat-error>
                    <mat-error *ngIf="hasError('confirmPassword', 'passwordMismatch')">Passwords did not match.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <button type="button" class="btn btn-outline-danger pull-left" routerLink="../">Cancel</button>
              <button mat-raised-button type="submit" [disabled]="buttonText != 'Register'"
                class="btn btn-danger pull-right">{{buttonText}}</button>
            </form>
          </div>

          <div class="alert alert-danger" *ngIf="message">
            <button mat-button type="button" class="close" (click)="message=''">
              <i class="material-icons">close</i>
            </button>
            <span>{{message}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>