<div class="main-content" *ngIf="user">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">User Info</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" [value]="user.first_name" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" [value]="user.last_name" disabled>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [value]="user.email" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone" [value]="user.phone" disabled>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="User Name" [value]="user.user_name" disabled>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" [value]="user.address" disabled>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" [value]="user.city" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Country" [value]="user.country" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Postal Code" [value]="user.postal_code" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
              <img alt="img" src="./assets/img/tim_80x80.png" *ngIf="!user.profile_pic_path"/>
              <img alt="img" [src]="synergeService.basePath + user.profile_pic_path" *ngIf="user.profile_pic_path"/>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">{{user.designation}}</h6>
              <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
              <p class="card-description">
                {{user.bio}}
              </p>
              <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>