<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Feedback / Suggestions</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover" *ngIf="isAdmin">
                <thead class="text-danger">
                  <th>
                    Given By
                  </th>
                  <th>
                    Company
                  </th>
                  <th>
                    Feedback
                  </th>
                  <th>
                    Requested Date
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody *ngFor="let feedback of feedbacks; let i = index">
                  <tr data-toggle="collapse" [attr.data-target]="'#demo' + i" class="accordion-toggle"
                    style="cursor: pointer;">
                    <td>
                      {{feedback.by_user_name}}
                    </td>
                    <td>
                      {{feedback.company_name}}
                    </td>
                    <td>
                      {{feedback.feedback}}
                    </td>
                    <td>
                      {{feedback.requested_date | date: 'MMM d, y - h:mm a'}}
                    </td>
                    <td>
                      {{feedback.status}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-info" (click)="editFeedback(feedback)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" class="btn btn-sm btn-success" (click)="commentFeedback(feedback)">
                        {{feedback.comments.length}} <i class="material-icons">comment</i>
                      </button>
                      <button type="button" class="btn btn-sm" (click)="onDelete(feedback, i)"
                        [disabled]="deleteButton[i]">
                        <i class="material-icons" *ngIf="!deleteButton[i]">delete</i>
                        <mat-spinner diameter="17" mode="indeterminate" *ngIf="deleteButton[i]"></mat-spinner>
                        <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="deleteButton[i]"></span>
                        <span class="sr-only" *ngIf="deleteButton[i]">Loading...</span> -->
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-hover" *ngIf="!isAdmin">
                <thead class="text-danger">
                  <th>
                    Feedback
                  </th>
                  <th>
                    Requested Date
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody *ngFor="let feedback of feedbacks; let i = index">
                  <tr data-toggle="collapse" [attr.data-target]="'#demo' + i" class="accordion-toggle"
                    style="cursor: pointer;">
                    <td>
                      {{feedback.feedback}}
                    </td>
                    <td>
                      {{feedback.requested_date | date: 'MMM d, y - h:mm a'}}
                    </td>
                    <td>
                      {{feedback.status}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-success" (click)="commentFeedback(feedback)">
                        {{feedback.comments.length}} <i class="material-icons">comment</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fab-container" *ngIf="!isAdmin">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>