<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab label="SYNERGE I">
        <div class="row justify-content-center" *ngFor="let synerge of synergeI">
          <div class="col-md-8">
            <div class="card card-product">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 justify-content-center" *ngIf="synerge.company_logo_path">
                    <a [href]="synergeService.basePath + synerge.company_logo_path" target="_blank">
                      <div class="card-header card-header-image">
                        <img alt="img" [src]="synergeService.basePath + synerge.company_logo_path" />
                      </div>
                    </a>
                  </div>
                  <div [ngClass]="{'col-md-8': synerge.company_logo_path, 'col-md-12': !synerge.company_logo_path}">
                    <button mat-button [matMenuTriggerFor]="synergeIMenu" class="pull-right" *ngIf="isAdmin">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #synergeIMenu="matMenu">
                      <button mat-menu-item (click)="editSynergeFamily(synerge)">Edit Synerge Family</button>
                      <button mat-menu-item (click)="deleteSynergeFamily(synerge)">Delete Synerge Family</button>
                    </mat-menu>
                    <h5 class="card-title"><b>{{synerge.company_name}}</b></h5>
                    <p class="card-description">{{synerge.company_description}}</p>
                    <br>
                    <div class="row" *ngFor="let head of synerge.company_heads">
                      <div class="col-md-6">
                        <h6><b>{{head.designation}}</b></h6>
                      </div>
                      <div class="col-md-6">
                        <h6>{{head.name}}</h6>
                      </div>
                    </div>
                    <br>
                    <h5><a [href]="synerge.company_link" target="_blank">{{synerge.company_link}}</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="SYNERGE II">
        <div class="row justify-content-center" *ngFor="let synerge of synergeII">
          <div class="col-md-8">
            <div class="card card-product">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" *ngIf="synerge.company_logo_path">
                    <a [href]="synergeService.basePath + synerge.company_logo_path" target="_blank">
                      <div class="card-header card-header-image">
                        <img alt="img" [src]="synergeService.basePath + synerge.company_logo_path" />
                      </div>
                    </a>
                  </div>
                  <div [ngClass]="{'col-md-8': synerge.company_logo_path, 'col-md-12': !synerge.company_logo_path}">
                    <button mat-button [matMenuTriggerFor]="synergeIMenu" class="pull-right" *ngIf="isAdmin">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #synergeIMenu="matMenu">
                      <button mat-menu-item (click)="editSynergeFamily(synerge)">Edit Synerge Family</button>
                      <button mat-menu-item (click)="deleteSynergeFamily(synerge)">Delete Synerge Family</button>
                    </mat-menu>
                    <h5 class="card-title"><b>{{synerge.company_name}}</b></h5>
                    <p class="card-description">{{synerge.company_description}}</p>
                    <br>
                    <div class="row" *ngFor="let head of synerge.company_heads">
                      <div class="col-md-6">
                        <h6><b>{{head.designation}}</b></h6>
                      </div>
                      <div class="col-md-6">
                        <h6>{{head.name}}</h6>
                      </div>
                    </div>
                    <br>
                    <h5><a [href]="synerge.company_link" target="_blank">{{synerge.company_link}}</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="fab-container" *ngIf="isAdmin">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>