.fab-button-position {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 99;
}

.mat-button {
    min-width: 0px !important;
    padding: 0px 0px !important;
    color: gray !important;
}

.card .card-header.card-header-image {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

.card [class*=card-header-] {
    margin: 0px !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
}