<h2 mat-dialog-title>
  {{dialogHeader}}
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content *ngIf="synergeFamilyForm">
  <form [formGroup]="synergeFamilyForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Belongs to</mat-label>
          <mat-select formControlName="belongs_to" required>
            <mat-option value="SYNERGE_I">Synerge I</mat-option>
            <mat-option value="SYNERGE_II">Synerge II</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('belongs_to', 'required')">Belongs to is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Company Name" formControlName="company_name" id="company_name" required>
      <mat-error *ngIf="hasError('company_name', 'required')">Company Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Company Description" formControlName="company_description"
        id="company_description">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Company Website Link" formControlName="company_link" id="company_link">
    </mat-form-field>

    <div class="row" *ngFor="let ch of companyHeads; let i = index; let last = last;">
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="companyHeads[i].designation" [ngModelOptions]="{standalone: true}"
            [name]="'designation'+i" placeholder="Designation">
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="companyHeads[i].name" [ngModelOptions]="{standalone: true}"
            [name]="'name'+i" placeholder="Name">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-danger btn-sm" style="top: 10px;" *ngIf="!last"
          (click)="deleteRow($event, companyHeads, i)">
          <i class="material-icons">remove</i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" style="top: 10px;" *ngIf="last" (click)="addRow(i)">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>

    <div class="row">
      <img alt="img" class="img" [src]="imgURL" *ngIf="imgURL" />
    </div>

    <div class="row">
      <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
      <button class="btn btn-danger btn-round" (click)="fileInput.click()">Upload Logo</button>
    </div>

    <div class="alert alert-danger" *ngIf="message">
      <button mat-button type="button" class="close" (click)="message=''">
        <i class="material-icons">close</i>
      </button>
      <span>{{message}}</span>
    </div>

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Save'"
      (click)="onSave()">{{buttonText}}</button>
  </form>
</mat-dialog-content>