<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">My Bookings</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <th>
                    Booking For
                  </th>
                  <th>
                    Booking Date
                  </th>
                  <th>
                    Booking Time
                  </th>
                  <th>
                    Status
                  </th>
                </thead>
                <tbody *ngFor="let booking of bookings; let i = index">
                  <tr>
                    <td>
                      {{booking.booking_type}}
                    </td>
                    <td>
                      {{booking.booking_date | date: 'MMM d, y'}}
                    </td>
                    <td>
                      {{booking.booking_time}}
                    </td>
                    <td>
                      {{booking.status}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fab-container">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>