<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">My Visitors</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <th>
                    Visitor Name
                  </th>
                  <th>
                    Visitor Phone
                  </th>
                  <th>
                    Visited Time
                  </th>
                  <th>
                    Whom to Contact
                  </th>
                  <th>
                    Purpose of Visit
                  </th>
                </thead>
                <tbody *ngFor="let vistor of myVisitors; let i = index">
                  <tr>
                    <td>
                      {{vistor.visitor_name}}
                    </td>
                    <td>
                      {{vistor.visitor_phone}}
                    </td>
                    <td>
                      {{vistor.visiting_time | date: 'MMM d, y - h:mm a'}}
                    </td>
                    <td>
                      {{vistor.whom_to_contact}}
                    </td>
                    <td>
                      {{vistor.purpose_of_visit}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>