<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">All Visitors</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-danger">
                  <th>
                    Visiting Company
                  </th>
                  <th>
                    Visitor Name
                  </th>
                  <th>
                    Visitor Phone
                  </th>
                  <th>
                    Whom to Contact
                  </th>
                  <th>
                    Purpose of Visit
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody *ngFor="let vistor of clientVisitors; let i = index">
                  <tr>
                    <td>
                      {{vistor.visiting_company}}
                    </td>
                    <td>
                      {{vistor.visitor_name}}
                    </td>
                    <td>
                      {{vistor.visitor_phone}}
                    </td>
                    <td>
                      {{vistor.whom_to_contact}}
                    </td>
                    <td>
                      {{vistor.purpose_of_visit}}
                    </td>
                    <td>
                      <button mat-raised-button type="button" (click)="onDelete(vistor, i)" class="btn btn-sm"
                        [disabled]="deleteButtonText[i] === 'Loading...'">{{deleteButtonText[i]}}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fab-container">
  <button mat-fab class="btn btn-danger fab-button-position" (click)="onAdd()">
    <i class="material-icons">add</i>
  </button>
</div>