.blink-notification {
  animation: blinkingBackground .5s;
  animation-iteration-count: 3;
  /* animation: blinkingBackground 2s infinite; */
}

.dot-notification {
  height: 10px;
  width: 10px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
}

@keyframes blinkingBackground {
  50% {
    background-color: #b80203;
    color: #ffffff;
  }

  100% {
    background: #FFFFFF;
    background-color: #FFFFFF;
    color: #3C4858;
  }
}