<div class="logo text-center">
    <a [routerLink]="['/news-feed']" class="simple-text">
        <img src="/assets/img/logo.png" height="60" />
    </a>
    <span style="color: #a9afbbd1;">BETA Version {{version}}</span>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <!-- <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form> -->
        <ul class="nav navbar-nav nav-mobile-menu">
            <!-- <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications_none</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Notifications</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
            </div>
        </li> -->
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <mat-slide-toggle [(ngModel)]="synergeService.darkEdition"
                        (change)="synergeService.onThemeChange()"></mat-slide-toggle>
                </a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal"> -->
                <a class="nav-link" href="javascript:void(0)" (click)="synergeService.confirmLogout()">
                    <i class="material-icons">power_settings_new</i>
                    <p>
                        <span class="d-lg-none d-md-block">Logout</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]"
                [ngClass]="{'blink-notification': menuItem.title.includes(socketService.sideMenuBlinkItem)}">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}
                    <span class="dot-notification" *ngIf="menuItem.title.includes(socketService.sideMenuDotItem)"></span>   
                </p>             
            </a>
        </li>
    </ul>
</div>