<h2 mat-dialog-title>
  Select time slot for - {{ selectedDate | date: 'MMM d, y' }}
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-4" *ngFor="let slot of timeSlots; let i = index;">
      <mat-card [ngClass]="{'cursor-pointer': !slot.booked, 'selected': slot.selected, 'booked': slot.booked}" (click)="onSelect(slot, i)">
        {{slot.time}}
      </mat-card>
    </div>
  </div>
  <br><br>
</mat-dialog-content>

<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit()">Select</button>
