<div class="main-content" *ngIf="user">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="First Name" formControlName="first_name" id="first_name"
                      required>
                    <mat-error *ngIf="hasError('first_name', 'required')">First Name is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Last Name" formControlName="last_name" id="last_name"
                      required>
                    <mat-error *ngIf="hasError('last_name', 'required')">Last Name is required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Email" formControlName="email" id="email" required>
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="tel" placeholder="Phone Number" formControlName="phone" id="phone" required>
                    <mat-error *ngIf="hasError('phone', 'required')">Phone Number is required</mat-error>
                    <mat-error *ngIf="hasError('phone', 'phoneMinLength')">Please enter valid number.</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Designation" formControlName="designation"
                      [(ngModel)]="user.designation" id="designation">
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Bio" formControlName="bio" [(ngModel)]="user.bio" id="bio">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="User Name" formControlName="user_name" id="user_name"
                      required>
                    <mat-hint>Unique User Name to login.</mat-hint>
                    <mat-error *ngIf="hasError('user_name', 'required')">User Name is required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Address" formControlName="address" id="address">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="City" formControlName="city" id="city">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Country" formControlName="country" id="country">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Postal Code" formControlName="postal_code"
                      id="postal_code">
                  </mat-form-field>
                </div>
              </div>

              <div class="row" *ngIf="isAdmin">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select matInput formControlName="role" required>
                      <mat-option value="ADMIN">ADMIN</mat-option>
                      <mat-option value="CLIENT">CLIENT</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Belongs to</mat-label>
                    <mat-select matInput formControlName="belongs_to"
                      (selectionChange)="onBelongsToChange($event.value)">
                      <mat-option value="SYNERGE_I">Synerge I</mat-option>
                      <mat-option value="SYNERGE_II">Synerge II</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Company Name</mat-label>
                    <mat-select formControlName="company_name">
                      <mat-option *ngFor="let company of companyNames" [value]="company.company_name">
                        {{company.company_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="button" class="btn btn-outline-danger pull-left"
                (click)="goBack()">Cancel</button>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                [disabled]="buttonText != 'Save'">{{buttonText}}</button>

              <button mat-raised-button type="button" class="btn btn-danger pull-right" *ngIf="showChangePassword"
                (click)="onChangePassword()">Change Password</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <div *ngIf="user.profile_pic_path">
              <img alt="img" [src]="synergeService.basePath + user.profile_pic_path" *ngIf="!imgURL" />
              <img alt="img" [src]="imgURL" *ngIf="imgURL" />
            </div>
            <div *ngIf="!user.profile_pic_path">
              <img alt="img" src="./assets/img/tim_80x80.png" *ngIf="!imgURL" />
              <img alt="img" [src]="imgURL" *ngIf="imgURL" />
            </div>
          </div>
          <div class="card-body">
            <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
            <button class="btn btn-danger btn-round" (click)="fileInput.click()">Edit Image</button>

            <h6 class="card-category text-gray">{{user.designation}}</h6>
            <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
            <p class="card-description">
              {{user.bio}}
            </p>
            <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
          </div>

          <div class="alert alert-danger" *ngIf="message">
            <button mat-button type="button" class="close" (click)="message=''">
              <i class="material-icons">close</i>
            </button>
            <span>{{message}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>