<h2 mat-dialog-title>
  Add Booking
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>

<mat-dialog-content>
  <mat-radio-group [(ngModel)]="selectedType">
    <form (ngSubmit)="onSubmit()">
      <mat-card>
        <div class="row">
          <div class="col-md-4">
            <mat-radio-button value="Discussion room">
              <span>{{discussionRoomString}}</span>
            </mat-radio-button>
          </div>
          <div class="col-md-4" *ngIf="selectedType === 'Discussion room'">
            <mat-form-field>
              <input matInput [(ngModel)]="selectedDate" name="discussionRoomDate"
                [matDatepicker]="discussionRoomDatePicker" placeholder="Choose a date"
                (dateChange)="onDateChange($event, 'Discussion room')" [min]="minDate"
                (click)="discussionRoomDatePicker.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="discussionRoomDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #discussionRoomDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="selectedType === 'Discussion room'">
            <p style="color: gray" *ngIf="!selectedTime">Selected Time</p>
            <p *ngIf="selectedTime">{{selectedTime}}</p>
          </div>
        </div>
      </mat-card>
      <br>
      <mat-card>
        <div class="row">
          <div class="col-md-4">
            <mat-radio-button value="Conference room">
              <span>Conference room</span>
            </mat-radio-button>
          </div>
          <div class="col-md-4" *ngIf="selectedType === 'Conference room'">
            <mat-form-field>
              <input matInput [(ngModel)]="selectedDate" name="conferenceRoomDate"
                [matDatepicker]="conferenceRoomDatePicker" placeholder="Choose a date"
                (dateChange)="onDateChange($event, 'Conference room')" [min]="minDate"
                (click)="conferenceRoomDatePicker.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="conferenceRoomDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #conferenceRoomDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="selectedType === 'Conference room'">
            <p style="color: gray" *ngIf="!selectedTime">Selected Time</p>
            <p *ngIf="selectedTime">{{selectedTime}}</p>
          </div>
        </div>
      </mat-card>
      <br>
      <mat-card>
        <div class="row">
          <div class="col-md-4">
            <mat-radio-button value="Pantry">
              <span>Pantry</span>
            </mat-radio-button>
          </div>
          <div class="col-md-4" *ngIf="selectedType === 'Pantry'">
            <mat-form-field>
              <input matInput [(ngModel)]="selectedDate" name="pantryDate" [matDatepicker]="pantryDatePicker"
                placeholder="Choose a date" (dateChange)="onDateChange($event, 'Pantry')" [min]="minDate"
                (click)="pantryDatePicker.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="pantryDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #pantryDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="selectedType === 'Pantry'">
            <p style="color: gray" *ngIf="!selectedTime">Selected Time</p>
            <p *ngIf="selectedTime">{{selectedTime}}</p>
          </div>
        </div>
      </mat-card>
      <br>
      <div *ngIf="belongs_to === 'SYNERGE_II'">
        <mat-card>
          <div class="row">
            <div class="col-md-4">
              <mat-radio-button value="Board room">
                <span>Board room</span>
              </mat-radio-button>
            </div>
            <div class="col-md-4" *ngIf="selectedType === 'Board room'">
              <mat-form-field>
                <input matInput [(ngModel)]="selectedDate" name="boardRoomDate" [matDatepicker]="boardRoomDatePicker"
                  placeholder="Choose a date" (dateChange)="onDateChange($event, 'Board room')" [min]="minDate"
                  (click)="boardRoomDatePicker.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="boardRoomDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #boardRoomDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="selectedType === 'Board room'">
              <p style="color: gray" *ngIf="!selectedTime">Selected Time</p>
              <p *ngIf="selectedTime">{{selectedTime}}</p>
            </div>
          </div>
        </mat-card>
        <br>
      </div>
      <div *ngIf="belongs_to === 'SYNERGE_II'">
        <mat-card>
          <div class="row">
            <div class="col-md-4">
              <mat-radio-button value="Game room">
                <span>Game room</span>
              </mat-radio-button>
            </div>
            <div class="col-md-4" *ngIf="selectedType === 'Game room'">
              <mat-form-field>
                <input matInput [(ngModel)]="selectedDate" name="gameRoomDate" [matDatepicker]="gameRoomDatePicker"
                  placeholder="Choose a date" (dateChange)="onDateChange($event, 'Game room')" [min]="minDate"
                  (click)="gameRoomDatePicker.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="gameRoomDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #gameRoomDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="selectedType === 'Game room'">
              <p style="color: gray" *ngIf="!selectedTime">Selected Time</p>
              <p *ngIf="selectedTime">{{selectedTime}}</p>
            </div>
          </div>
        </mat-card>
        <br>
      </div>
      <div class="col-md-12">
        <div class="form-group label-floating">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Add Note (optional)" [(ngModel)]="bookingNote" name="bookingNote"></textarea>
          </mat-form-field>
        </div>
      </div>
      <!-- <mat-card>
        <div class="row">
          <div class="col-md-6">
            <mat-checkbox class="example-margin" [(ngModel)]="coffeeTea" name="coffeeTea">
              <span style="color: black">Coffee/Tea</span>
            </mat-checkbox>
          </div>
          <div class="col-md-6" *ngIf="coffeeTea">
            <mat-form-field>
              <mat-label>Coffee/Tea</mat-label>
              <mat-select [(ngModel)]="coffeeTeaItems" name="coffeeTeaItems" multiple>
                <mat-option *ngFor="let cts of coffeeTeas" [value]="cts">
                  {{cts}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card> -->
      <!-- <mat-card>
      <div class="row">
        <div class="col-md-6">
          <mat-checkbox class="example-margin" [(ngModel)]="foodBeverages" name="foodBeverages">
            <span style="color: black">Food/Beverages</span>
          </mat-checkbox>
        </div>
      </div>
      <div class="row" *ngIf="foodBeverages">
        <div class="col-md-12" *ngFor="let item of items; let i = index; let last = last;">
          <input class="form-control" [(ngModel)]="items[i].item" [name]="item+i" [placeholder]="'Item ' + (i + 1)">
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteRow($event, item, i)">
            <i class="material-icons">remove</i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" *ngIf="last" (click)="addRow(i)">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </mat-card> -->
      <br>
      <div class="alert alert-danger" *ngIf="message">
        <button mat-button type="button" class="close" (click)="message=''">
          <i class="material-icons">close</i>
        </button>
        <span>{{message}}</span>
      </div>
      <div class="alert alert-success" *ngIf="showSuccessMessage">
        <p>Details Sent Successfully.</p>
        <span>Our Assistant Will Update You Shortly.</span>
        <!-- <p>Delayed In Reaching You? Feel Free To Call Us.</p>
      <span>WE ARE HAPPY TO SYNERGE WITH YOU</span> -->
      </div>
      <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="buttonText != 'Submit'">
        {{buttonText}}
      </button>
    </form>
  </mat-radio-group>
</mat-dialog-content>