<h2 mat-dialog-title>
  Crop the image
  <button mat-dialog-close class="close pull-right"><i class="material-icons">close</i></button>
</h2>
<mat-dialog-content>
  <div class="img-cropper">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="aspectRatio"
      format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
  </div>
  <!-- <img [src]="croppedImage" /> -->
  <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="submitCrop()">Save</button>
</mat-dialog-content>